.movie {
	text-align: center;
	background: #ffffff;
	padding: 10px 10px 5px;
	margin-bottom: 50px;
	border-radius: 10px;
	margin-right: 15px;
	margin-left: 15px;
	cursor: pointer;
	max-width: 220px;
	position: relative;
}

.movie:hover {
	background: linear-gradient(90deg, rgba(149, 0, 0, 1) 0%, rgba(244, 12, 12, 1) 20%, rgba(255, 255, 255, 1) 50%, rgba(244, 12, 12, 1) 80%, rgba(149, 0, 0, 1) 100%);
}

.movie h3 {
	color: #202020;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 2px;
}

.iconFavorite {
	width: auto;
	height: auto;
	max-width: 40px;
	max-height: 40px;
}