.header {
	background: linear-gradient(90deg, rgba(7, 7, 7, 1) 0%, rgba(66, 8, 8, 1) 30%, rgba(176, 24, 24, 1) 50%, rgba(66, 8, 8, 1) 70%, rgba(8, 8, 8, 1) 100%);
	position: relative;
	padding: 18px 20px 26px;
	text-align: center;
	margin-top: 4px;
}

.header h1 {
	font-family: 'Arial Narrow Bold', sans-serif;
	color: #ffffff;
	font-size: 36px;
	font-weight: 800;
}

.header h1 {
	margin: 0;
}

.header h2 {
	color: #ffffff;
	font-size: 24px;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 18px;
}

#btnHome {
	position: absolute;
	top: -10px;
	right: 15px;
	background-color: #ffffff;
	color: #131313;
	font-weight: 600;
	padding: 6px 40px;
	border-radius: 15px;
	margin-top: 30px;
	font-size: 18px;
	border: 2px solid;
	cursor: pointer;
}

#btnHome:hover {
	transition: 0.3s;
	background-color: #FAE91B;
	color: #111111;
}

#btnFavorite {
	position: absolute;
	top: 34px;
	right: 15px;
	background-color: #ffffff;
	color: #131313;
	font-weight: 600;
	padding: 6px 40px;
	border-radius: 15px;
	margin-top: 30px;
	font-size: 18px;
	border: 2px solid;
	cursor: pointer;
}

#btnFavorite:hover {
	transition: 0.3s;
	background-color: #f82525;
	color: #111111;
}

.footer {
	position: fixed;
	background: #111111;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	padding: 20px;
	height: auto;
	width: 100%;
	bottom: 0;
	left: 0;
}